@font-face {
    font-family: Mistral;
    src: url(fonts/MISTRAL.TTF);
}

.fa {
    color: white;
}
.fab {
    color: white;
}

p {
    padding-top: 1rem;
}

.contact {
    color:white;
    padding-top: 1em;
}

.navbar {
    font-size: 1.5rem !important;
    font-weight: bold;
    font-style: white;
    font-family: "Permanent Marker";
}
.navbar li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    margin: auto;
}

nav {
    background-image: url("https://drive.google.com/thumbnail?id=1F0iO_9Ej8n_b9nQQ5-HtBt2pEr-e0n_5&sz=w2000");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Source Serif 4', serif;
    color: white;
}

.parallax {
    background-image: url("https://drive.google.com/thumbnail?id=1F0iO_9Ej8n_b9nQQ5-HtBt2pEr-e0n_5&sz=w2000");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%
}

.display-4 { 
    font-family: "Permanent Marker", cursive;
    letter-spacing: 1rem;
    font-weight: bold;
}
.display-6 { 
    font-family: "Permanent Marker", cursive;
}

.text-center, 
.text-left {
    font-size: 1.25rem;
    padding: 1rem;
}

.whiteShadow { 
    box-shadow: 0px 0px 10px #fff;
}

.fancy {
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
}

.noBullet {
    list-style-type: none;
}

.container-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.spotifyplayer {
    padding-bottom: 2rem;
}

.btn-primary { 
    background-color: rgb(192, 50, 92);
    border: none;
}
.btn-primary:hover {
    background-color: rgb(88, 24, 43);
}