.fa {
    color: white;
}
.fab {
    color: white;
}

p {
    padding-top: 1rem;
}

.contact {
    color:white;
    padding-top: 1em;
}

.navbar {
    font-size: 1.5rem !important;
    font-weight: bold;
    font-style: white;
    font-family: "Permanent Marker";
}
.navbar li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    margin: auto;
}

nav {
    background-image: url("https://drive.google.com/thumbnail?id=1F0iO_9Ej8n_b9nQQ5-HtBt2pEr-e0n_5&sz=w2000");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Source Serif 4', serif;
    color: white;
}

.parallax {
    background-image: url("https://drive.google.com/thumbnail?id=1F0iO_9Ej8n_b9nQQ5-HtBt2pEr-e0n_5&sz=w2000");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%
}

.display-4 { 
    font-family: "Permanent Marker", cursive;
    letter-spacing: 1rem;
    font-weight: bold;
}
.display-6 { 
    font-family: "Permanent Marker", cursive;
}

.text-center, 
.text-left {
    font-size: 1.25rem;
    padding: 1rem;
}

.whiteShadow { 
    box-shadow: 0px 0px 10px #fff;
}

.fancy {
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
}
.scribble{
    font-size: 1.25rem;
    font-family: 'Permanent Marker';
}

.noBullet {
    list-style-type: none;
}

.container-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.spotifyplayer {
    padding-bottom: 2rem;
}

.btn-primary { 
    font-size: 1.5rem;
    background-color: rgb(192, 50, 92);
    border: none;
}
.btn-primary:hover {
    background-color: rgb(88, 24, 43);
}

.carousel-inner {
    justify-content: center;
    align-items: center;
    background: black;
}

.carousel-item {
    height:1100px;
    width:100%
}


.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caroImg {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto !important;
}

.sharefol {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.fluid-yt {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
}

.fluid-yt > iframe {
    width: 100%;
    height: 100%;
}

.container-md .container .sm .col-sm-4 .col-sm-6 .col-sm-8 .col-md-4 .col-md-6 .col-md-8  {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bio {
    padding: 4rem;
}